body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.m, .o {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

.o {
    background: rgba(49,49,49,0.8);
    /* z-index: 1; */
}
.m-content {
    position: absolute;
    /* top: 40%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* line-height: 1.4; */
    /* background: #f1f1f1; */
    background-color: white;
    padding: 14px 28px;
    border-radius: 15px;
    max-width: 600px;
    min-width: 300px;
    height: fit-content;
    /* z-index: 1000; */
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.label {
    width: 50px;
}

.divInput,
 .sumCan {
    margin: 20px;
    padding: 10px;
}

.divInput .input {
    border-radius: 10px;
    width: 350px;
    /* padding: px; */
}

/* #outlined-basic {
    width: 385px;
} */

.sumCan button {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: black;
}

.Add {
    background-color: greenyellow;
}

.Cancel {
    background-color: rgba(255, 0, 76, 0.645);
}