.container {
  z-index: 1;
}

.text-center {
  font-weight: bold;
  font-size: x-large;
}

.listgroupitem {
  position: relative;
  border-radius: 14px;
  background-color: rgba(0, 255, 255, 0.316);
  margin-bottom: 5px;
}

.listgroupitem:last-child {
  margin-bottom: 50px;
}

.right {
  position: absolute;
  right: -13px;
  bottom: -27px;
  background-color: greenyellow;
  border-radius: 15px;
  font-size: 22px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.right:hover {
  transform: scale(1.2);
}
