.container {
  z-index: 1;
}

.text-center {
  font-weight: bold;
  font-size: x-large;
}

.listgroupitem {
  position: relative;
  border: 1px solid black;
}

.right {
  position: absolute;
  right: -13px;
  bottom: -27px;
  background-color: greenyellow;
  border-radius: 15px;
  font-size: 22px;
  cursor: pointer;
}
